+e.UL
    +e.LI
        a(href="about.html") О компании
    +e.LI
        a() Продукция
    +e.LI
        a(href="news.html") Новости
    +e.LI
        a(href="documents.html") Документы
    if pageName === "index"
        +e.LI
            +b.A(class="btn --primary-gradient js-modal" data-modal="request") Оставить заявку