+b.SECTION.page-intro
    .container
        +b.breadcrumbs
            a(href="/") Главная
            span / 
            a(href="/") Раздел
            span / 
            span Подраздел
        +e.buttons
            +b.A(class="btn --green-gradient") Получить прайс лист
            +b.A(class="btn --primary-gradient js-modal" data-modal="request") Оставить заявку