// (class=( pageName === "about" ? " active" : undefined))
+e.UL
    +e.LI
        a(href="about.html") О компании
    +e.LI
        a(href="products.html") Продукция
    +e.LI
        a(href="news.html") Новости
    +e.LI
        a(href="documents.html") Документы
    +e.LI
        +b.A(href="#" class="btn --primary-gradient") Оставить заявку