+b.HEADER.header
  .container
    +e.row
      +e.A(href="index.html" class="logo")
        img(src="assets/images/logo/logo.png", alt="")
      +e.NAV.nav
        include ./_nav
      +b.contact-item
        +e.icon
          +icon('place')
        +e.content Краснодарский край, х. Привольный, ул. Мира, д. 78
      +b.contact-item
        +e.icon
          +icon('phone')
        +e.content
          +e.A(href="tel:+79181701095" class="phone") +7 (918) 170-10-95
