@import "utils/reset";
@import "~swiper/css/swiper.min";
@import "utils/vars";
@import "utils/smart-grid";
@import "utils/mixins";
@import "modules/loader";
@import "modules/header";
@import "modules/hamburger";
@import "modules/typography";
@import "modules/buttons";
@import "modules/fields";
@import "modules/modal";
@import "modules/footer";
@import "modules/notifications";

html {
 line-height: $mainLineHeight;
 font-size: $mainFontSize;
 color: $mainFontColor;
}

body {
 margin: 0;
 padding: 0;
 font-family: $mainFont;
 font-weight: $mainFontWeight;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
 color: #000;
 background: #fff;

 @include sm-block() {
  font-size: 14px;
 }

 &:after {
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.555);
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 8;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;
 }

 &.overflow-transparent {
  overflow: hidden;
 }

 &.overflow {
  overflow: hidden;

  @include md-block() {
   &:after {
    opacity: 1;
    visibility: visible;
   }
  }
 }
}

*,
*:before,
*:after {
 box-sizing: border-box;
}

.container {
 position: relative;
 @include wrapper();
 width: 100%;
}

.content {
 min-height: 100vh;
 display: flex;
 flex-direction: column;

 .footer {
  margin-top: auto;
 }
}

section,
.section {
 position: relative;
 display: block;
}

.wrapper {
 display: flex;
 flex-direction: column;
 margin: 0 auto;
 overflow-x: hidden;
 position: relative;
 min-height: 100vh;
}

.subtitle {
 font-size: 25px;
 font-weight: 700;
 line-height: 1.1;
}

.color-primary {
 color: $neutral-primary;
}

.title {
 font-weight: 700;
 font-size: 58px;
 line-height: 1;
 color: #010101;

 @include xxl-block() {
  font-size: 50px;
 }

 @include sm-block() {
  font-size: 28px;
 }
}

// Моб меню
.mobile-menu {
 overflow: hidden;
 overflow-y: auto;
 padding: 15px 0;
 background: $light;
 position: fixed;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 z-index: 9999;
 opacity: 0;
 visibility: hidden;
 transform: translateY(-60px);
 transition: all 0.2s ease;
 top: 120px;
 height: calc(100% - 120px);

 @include sm-block() {
  top: 90px;
  height: calc(100% - 90px);
 }

 .header__buttons {
  display: none;

  @include sm-block() {
   display: flex;
   margin-bottom: 10px;
  }
 }

 .header__nav {
  display: block !important;
  width: 100%;

  ul {
   display: block;
  }

  a {
   color: #000;
   display: block;
   padding: 15px 0;
   border-bottom: 1px solid rgba(#000, 0.1);

   &.btn {
    width: auto;
    padding-left: 30px;
    padding-right: 30px;
    color: #fff;
    display: inline-flex;
    margin-top: 15px;
   }
  }

  li {
   width: 100%;
   margin: 0;

   &:last-child {
    a {
     border-color: transparent;
    }
   }
  }
 }

 &.open {
  display: none;

  @include lg-block() {
   display: block;
   visibility: visible;
   opacity: 1;
   transform: none;
  }
 }
}

.slider-dots {
 display: flex;
 align-items: center;
 justify-content: center;
 width: 100% !important;

 .swiper-pagination-bullet {
  width: 19px;
  height: 21px;
  border-radius: 0;
  background: url("../images/icons/pentagon.png") center no-repeat;
  transform: none;
  left: initial !important;
  margin: 0 5px;
  opacity: 1;

  &.swiper-pagination-bullet-active {
   background: url("../images/icons/pentagon-active.png") center no-repeat;
  }
 }
}

.advantage-item {
 position: relative;
 $parent: &;
 height: 240px;
 z-index: 3;

 @include sm-block() {
  text-align: center;
 }

 &__content {
  position: absolute;
  top: 0;
  border-radius: 8px;
  left: 0;
  padding: 40px;
  right: 0;
  transition: all 0.2s ease;

  @include xl-block() {
   padding: 30px;
  }

  @include xs-block() {
   padding: 20px;
  }
 }

 &__icon {
  margin-bottom: 40px;

  @include md-block() {
   margin-left: auto;
   margin-right: auto;
   text-align: center;
   margin-bottom: 15px;
  }

  img {
   width: 55px;
  }

  svg {
   width: 55px;
   height: 55px;
   fill: $neutral-primary;
  }
 }

 &__title {
  font-size: 24px;

  @include xl-block() {
   font-size: 20px;
  }
 }

 &__desc {
  margin-top: 20px;
  font-size: 15px;
  color: rgba(#000, 0.7);
  line-height: 1.6;
  display: none;

  @include xl-block() {
   margin-top: 15px;
   font-size: 15px;
  }

  @include md-block() {
   text-align: center;
  }
 }

 &:hover,
 &.active {
  #{$parent}__content {
   background: #fff;
   box-shadow: 2px 3px 65px rgba(0, 0, 0, 0.14);
  }

  #{$parent}__desc {
   display: block;
  }

  #{$parent}__title {
   color: #c82821;
  }
 }

 @include md-block() {
  height: auto;

  #{$parent}__content {
   background: #fff;
   position: relative;
   box-shadow: 2px 3px 65px rgba(0, 0, 0, 0.14);
  }

  #{$parent}__desc {
   display: block;
  }

  #{$parent}__title {
   color: #c82821;
   text-align: center;
   margin-left: auto;
   max-width: 180px;
   margin-right: auto;
  }
 }
}

.advantages {
 .container {
  max-width: 1280px;
 }

 @include md-block() {
  .swiper-slide {
   height: auto;
  }

  .advantage-item {
   height: 100%;

   &__content {
    height: 100%;
   }
  }
 }

 &__slider {
  padding-top: 100px;
  padding-bottom: 80px;

  @include lg-block() {
   padding-top: 40px;
   padding-bottom: 40px;
  }
 }

 // Animations
 &[data-emergence="hidden"] {
  .swiper-slide {
   opacity: 0;
   transform: translateY(15px);
  }
 }

 &[data-emergence="visible"] {
  .swiper-slide {
   opacity: 1;
   transform: none;
   transition: opacity $animSpeed $anim, transform $animSpeed $anim;
  }

  @for $i from 1 through 4 {
   .swiper-slide:nth-child(#{$i}) {
    transition-delay: #{$i * 0.1}s;
   }
  }
 }
}

.about {
 $parent: &;
 margin-top: 0;
 position: relative;
 margin-bottom: 150px;

 @include lg-block() {
  margin-bottom: 80px;
 }

 @include sm-block() {
  text-align: center;
  background: linear-gradient(180deg,
    rgba(246, 246, 246, 1) 0%,
    rgba(255, 255, 255, 1) 100%);
 }

 &:before {
  content: "";
  width: 100%;
  background: $light;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 60%;

  @include sm-block() {
   display: none;
  }
 }

 &:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  width: 100%;
  display: block;
  height: 880px;
  top: 0;
  background: url("../images/about-after.png") bottom no-repeat;

  @include sm-block() {
   display: none;
  }
 }

 &__image {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
 }

 &__row {
  display: flex;
  position: relative;
  z-index: 3;
  padding-top: 60px;
 }

 &__col {
  width: 50%;

  @include md-block() {
   width: 60%;
  }

  @include sm-block() {
   width: 100%;
  }

  &:last-child {
   margin-left: auto;
  }
 }

 &__buttons {
  margin-top: 50px;

  @include sm-block() {
   margin-top: 30px;
  }

  .btn {
   font-size: 22px;
  }
 }

 .typography {
  max-width: 520px;
  text-align: justify;
  font-size: 20px;

  @include sm-block() {
   font-size: 16px;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
  }
 }

 .subtitle {
  margin-bottom: 30px;
 }

 .title {
  max-width: 360px;
  margin-bottom: 60px;

  @include sm-block() {
   margin-bottom: 30px;
   margin-left: auto;
   margin-right: auto;
  }
 }

 // Animations
 &[data-emergence="hidden"] {

  #{$parent}__col,
  &:after {
   opacity: 0;
  }

  #{$parent}__col {
   transform: translateX(15px);
  }
 }

 &[data-emergence="visible"] {

  #{$parent}__col,
  &:after {
   opacity: 1;
   transition: opacity $animSpeed $anim, transform $animSpeed $anim;
  }

  #{$parent}__col {
   transition-delay: 0.3s;
  }
 }
}

.quote-right {
 display: flex;
 justify-content: center;
 pointer-events: none;
 margin-top: -12%;
 padding-bottom: 50px;

 @include notebook-block() {
  margin-top: -18%;
  padding-bottom: 30px;
 }

 @include xxl-block() {
  margin-top: -23%;
 }

 div {
  width: 80px;
  display: flex;
  justify-content: flex-start;

  img {
   max-width: initial;
   margin-left: -120px;
  }
 }

 @include md-block() {
  display: none;
 }
}

.quote-left {
 display: flex;
 justify-content: center;
 pointer-events: none;
 margin-top: -12%;
 padding-bottom: 50px;

 @include notebook-block() {
  margin-top: -18%;
  padding-bottom: 30px;
 }

 @include xxl-block() {
  margin-top: -23%;
 }

 @include lg-block() {
  margin-top: -28%;
 }

 div {
  width: 80px;
  display: flex;
  justify-content: flex-end;

  img {
   max-width: initial;
   margin-right: -120px;
  }
 }

 @include md-block() {
  display: none;
 }
}

.apple-slider {
 $parent: &;
 text-align: center;
 margin-bottom: 80px;

 .swiper-button-disabled {
  opacity: 0.5 !important;
  pointer-events: none;
 }

 &__desc {
  max-width: 240px;
  text-align: center;
  font-size: 27px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #fff;

  @include sm-block() {
   position: relative;
   max-width: 100%;
   width: 100%;
   margin-top: 15px;
   font-size: 20px;
  }
 }

 .slider-dots {
  position: absolute;
  bottom: 25px;
  z-index: 3;
  padding-right: 60px;
  justify-content: flex-end;

  @include sm-block() {
   position: relative;
   bottom: initial;
   padding: 0;
   margin-top: 15px;
   justify-content: center;
  }
 }

 .swiper-prev,
 .swiper-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 3;

  @include sm-block() {
   display: none !important;
  }

  svg {
   width: 72px;
   height: 48px;
   fill: #cccccc;
  }

  &:hover {
   svg {
    fill: $neutral-primary;
   }
  }
 }

 .swiper-prev {
  left: 0;

  @include lg-block() {
   left: 15px;
  }

  svg {
   transform: rotate(180deg);
  }
 }

 .swiper-next {
  right: 0;

  @include lg-block() {
   right: 15px;
  }
 }

 .container {
  max-width: 1030px;
  margin: 0 auto;
  position: relative;
 }

 .swiper-container {
  overflow: visible;
 }

 .swiper-slide {
  cursor: grab;
  position: relative;
  opacity: 0;
  transition: all 0.2s ease 0.1s;

  &:before,
  &:after {
   content: "";
   width: 602px;
   height: 675px;
   display: block;
   background: url("../images/pentagon-line.png") center no-repeat;
   background-size: contain;
   position: absolute;
   right: 100%;
   top: 50%;
   transform: translateY(-50%);

   @include sm-block() {
    display: none;
   }
  }

  &::before {
   margin-right: -70px;
  }

  &:after {
   right: initial;
   left: 100%;
   margin-left: -70px;
   transform: translateY(-50%) rotate(180deg);
  }

  &.swiper-slide-active {
   opacity: 1;
   transform: none;
  }

  &.swiper-slide-prev {
   transform: translateX(-10px) scale(0.9);
  }

  &.swiper-slide-next {
   transform: translateX(10px) scale(0.9);
  }

  svg {
   width: 716px;
   max-width: 100%;
  }

  img {
   position: relative;
   z-index: 2;

   @include lg-block() {
    width: 600px;
   }

   @include md-block() {
    width: 500px;
   }
  }
 }

 // Animations
 &[data-emergence="hidden"] {
  opacity: 0;
  transform: translateY(15px);
 }

 &[data-emergence="visible"] {
  opacity: 1;
  transition: opacity $animSpeed $anim, transform $animSpeed $anim;
 }
}

.gray {
 background: $light;
}

.product-item {
 position: relative;
 $parent: &;
 height: 180px;
 cursor: pointer;
 text-align: center;

 @include md-block() {
  height: 130px;
 }

 @include sm-block() {
  height: 90px;
 }

 @include xs-block() {
  height: 70px;
 }

 &__title {
  font-size: 23px;
  font-weight: 300;
  text-align: center;
  position: relative;

  &:after {
   content: "";
   width: 22px;
   height: 15px;
   background: svg-load("../icons/left-arrow.svg", fill=#bb1c19);
   background-size: contain;
   background-repeat: no-repeat;
   display: block;
   transform: rotate(-90deg);
   margin: 10px auto 0;
  }

  @include lg-block() {
   font-size: 20px;
  }

  @include xs-block() {
   font-size: 16px;
  }
 }

 &__image {
  margin-bottom: 25px;
  margin-top: -125px;

  @include md-block() {
   margin-bottom: 10px;
   margin-left: auto;
   margin-right: auto;
   max-width: 160px;
  }

  @include sm-block() {
   max-width: 150px;
  }

  img {
   display: block;
   margin-left: auto;
   margin-right: auto;
  }
 }

 &__desc {
  display: none;
  margin-top: 20px;

  @include sm-block() {
   margin-bottom: 10px;
   padding: 10px 5px;
   font-size: 13px;
   line-height: 1.4;
   text-align: center;
   margin-top: 0;
  }
 }

 &__content {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  font-size: 15px;
  border-radius: 48px;
  padding: 35px;
  text-align: justify;
  transition: all 0.2s ease;
  line-height: 1.5;

  @include lg-block() {
   border-radius: 30px;
   padding: 25px;
  }

  @include sm-block() {
   padding: 0;
   border-radius: 20px;
  }
 }

 &:hover {
  #{$parent}__content {
   box-shadow: 2px 3px 65px rgba(0, 0, 0, 0.14);
   background: #fff;
  }

  #{$parent}__title {
   &:after {
    display: none;
   }
  }

  #{$parent}__desc {
   display: block;
   z-index: 3;
  }
 }
}

.products {
 $parent: &;

 &__row {
  @include row-flex();
  justify-content: center;
  margin-bottom: -20px;
  padding-bottom: 80px;

  @include md-block() {
   padding-bottom: 0;
  }

  @include sm-block() {
   margin-bottom: -50px;
   padding-bottom: 40px;
  }
 }

 &__col {
  @include col();
  @include size(3);
  @include size-md(4);
  @include size-sm(6);
  margin-bottom: 20px;
  padding-top: 125px;
  position: relative;

  @include sm-block() {
   margin-bottom: 50px;
  }

  &:hover {
   z-index: 3;
  }
 }

 // Animations
 &[data-emergence="hidden"] {
  #{$parent}__col {
   opacity: 0;
   transform: translateY(15px);
  }
 }

 &[data-emergence="visible"] {
  #{$parent}__col {
   opacity: 1;
   transform: none;
   transition: opacity $animSpeed $anim, transform $animSpeed $anim;
  }

  @for $i from 1 through 12 {
   #{$parent}__col:nth-child(#{$i}) {
    transition-delay: #{$i * 0.1}s;
   }
  }
 }
}

.step-item {
 &__title {
  font-size: 22px;
  color: #c82821;
  margin-bottom: 20px;
  display: flex;
  align-items: center;

  @include sm-block() {
   justify-content: center;
   margin-bottom: 10px;
  }

  b {
   font-size: 24px;
   margin-left: 10px;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50%;
   width: 36px;
   height: 36px;
   color: #000;
   border: solid 2px #c82821;
   font-weight: 500;
  }
 }

 &__desc {
  max-width: 220px;
  font-size: 15px;
  line-height: 1.5;

  @include sm-block() {
   justify-content: center;
   margin-left: auto;
   margin-right: auto;
  }

  a {
   color: $neutral-primary;
   text-decoration: underline;
  }
 }

 &__icon {
  width: 50px;
  height: 50px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;

  @include sm-block() {
   justify-content: center;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 15px;
  }

  svg {
   width: 50px;
   height: 50px;
   fill: #cbcbcb;
  }
 }

 @include sm-block() {
  text-align: center;
 }
}

.steps {
 $parent: &;
 @include row-flex();

 .btn {
  font-size: 22px;
 }

 &__col {
  @include col();
  @include size(2.83);
  @include size-md(4);
  @include size-sm(12);

  @include md-block() {
   margin-bottom: 30px;
  }

  &:first-child {
   @include size(3.5);
   @include size-md(12);
  }
 }

 &[data-emergence="hidden"] {
  #{$parent}__col {
   opacity: 0;
   transform: translateX(-15px);
  }
 }

 &[data-emergence="visible"] {
  #{$parent}__col {
   opacity: 1;
   transform: none;
   transition: opacity $animSpeed $anim, transform $animSpeed $anim;
  }

  @for $i from 1 through 4 {
   #{$parent}__col:nth-child(#{$i}) {
    transition-delay: #{$i * 0.1}s;
   }
  }
 }
}

.cooperation {
 $parent: &;
 margin-bottom: 150px;

 @include md-block() {
  margin-bottom: 0px;
 }

 @include sm-block() {
  text-align: center;
 }

 .subtitle {
  margin-bottom: 20px;
 }

 .typography {
  font-size: 20px;
  text-align: justify;

  @include sm-block() {
   text-align: center;
   font-size: 16px;
  }
 }

 .title {
  max-width: 460px;
  margin-bottom: 30px;

  @include sm-block() {
   margin-left: auto;
   margin-right: auto;
  }
 }

 &__row {
  @include row-flex();
  padding-top: 60px;
  padding-bottom: 90px;

  @include md-block() {
   padding-top: 40px;
   padding-bottom: 30px;
  }
 }

 &__col {
  @include col();
  @include size(7.8);
  @include size-md(12);
 }

 // Animations
 &[data-emergence="hidden"] {
  #{$parent}__col {
   opacity: 0;
   transform: translateX(-15px);
  }
 }

 &[data-emergence="visible"] {
  #{$parent}__col {
   opacity: 1;
   transition: opacity $animSpeed $anim, transform $animSpeed $anim;
  }
 }
}

.get-price {
 $parent: &;

 &__icon {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 100%;
  margin: 35px 0 0 0;

  svg {
   width: 36px;
   height: 36px;
   fill: $neutral-primary;
  }

  @include to(1130px) {
   margin-left: 15px;
  }

  @include sm-block() {
   position: relative;
   top: 0;
   margin: 15px auto 0;
   text-align: center;
  }
 }

 &__intro-text {
  position: relative;

  @include sm-block() {
   margin: 0 auto 15px;
  }
 }

 .subtitle {
  text-align: right;
  margin-bottom: 15px;

  @include sm-block() {
   text-align: center;
  }
 }

 .title {
  text-align: right;
  max-width: 270px;
  font-size: 49px;
  margin-bottom: 0px;

  @include sm-block() {
   text-align: center;
  }
 }

 &__block {
  margin-bottom: 150px;
  margin-top: 100px;
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;

  @include md-block() {
   margin-top: 80px;
   margin-bottom: 80px;
  }

  @include sm-block() {
   margin-top: 40px;
   margin-bottom: 60px;
  }

  &:after {
   content: "";
   display: block;
   box-shadow: 2px 3px 90px rgba(0, 0, 0, 0.07);
   border-radius: 66px;
   background-color: #ffffff;
   border-bottom: 3px solid $neutral-primary;
   position: absolute;
   right: 170px;
   top: 0;
   width: 9999px;
   bottom: 0;

   @include to(1205px) {
    right: 140px;
   }

   @include sm-block() {
    right: 50%;
   }
  }

  &:before {
   content: "";
   width: 66px;
   height: 100px;
   background: transparent;
   position: absolute;
   right: 170px;
   bottom: 0;
   z-index: 2;
   pointer-events: none;
   border-bottom-right-radius: 66px;
   border-right: 3px solid $neutral-primary;
   border-bottom: solid 3px #d91512;

   @include to(1205px) {
    right: 140px;
   }

   @include to(1130px) {
    height: 200px;
   }

   @include sm-block() {
    right: 50%;
    height: 100px;
   }
  }

  &-top {
   display: flex;
   justify-content: space-between;
   position: relative;
   z-index: 2;
   max-width: 1110px;

   @include to(1130px) {
    padding-right: 30px;
   }

   @include sm-block() {
    flex-wrap: wrap;
    padding-right: 0;
   }
  }
 }

 .field {
  @include sm-block() {
   width: 100%;
  }
 }

 .btn {
  justify-content: center;
  width: auto;

  @include sm-block() {
   margin-left: auto;
   margin-right: auto;
   width: 100%;
  }
 }

 .typography {
  font-size: 23px;
  max-width: 680px;
  margin-bottom: 60px;
  margin-top: 40px;
  padding-right: 50px;

  @include sm-block() {
   font-size: 18px;
   text-align: center;
   margin-top: 0;
   padding-right: 0;
   margin-bottom: 30px;
  }
 }

 &__form {
  display: flex;
  align-items: flex-end;
  position: relative;
  z-index: 2;

  @include to(1130px) {
   flex-wrap: wrap;
  }

  .field {
   position: relative;

   .messages {
    top: 100%;
    margin-top: 5px;
    left: 0;
    position: absolute;

    @include to(1130px) {
     display: none !important;
    }
   }
  }

  &>* {
   margin-right: 30px;
   width: 193px;

   @include to(1130px) {
    width: 38%;
    margin-bottom: 15px;
   }

   @include md-block() {
    width: 34%;
   }

   @include sm-block() {
    margin-right: 0;
   }

   &:last-child {
    margin-right: 0;

    @include sm-block() {
     margin-right: auto;
    }
   }
  }
 }

 // Animations
 &[data-emergence="hidden"] {

  #{$parent}__block-top,
  #{$parent}__form {
   opacity: 0;
   transform: translateX(10px);
  }

  #{$parent}__block {
   opacity: 0;
   transform: translateX(-50px);
  }
 }

 &[data-emergence="visible"] {

  #{$parent}__block-top,
  #{$parent}__form,
  #{$parent}__block {
   opacity: 1;
   transition: opacity $animSpeed $anim, transform $animSpeed $anim;
  }

  #{$parent}__block-top {
   transition-delay: 0.3s;
  }

  #{$parent}__form {
   transition-delay: 0.6s;
  }
 }
}

.map {
 height: 450px;
}

.breadcrumbs {
 &>* {
  margin: 0 7px 0 0;
 }

 a {
  text-decoration: underline;

  &:hover {
   text-decoration: none;
  }
 }

 span {
  &:last-child {
   color: #d7fe9f;
  }
 }
}

.page-intro {
 position: relative;
 overflow: hidden;
 color: #fff;

 a:not(.btn) {
  color: #fff;
 }

 .btn {
  font-size: 15px;
 }

 &:before {
  content: "";
  width: 120%;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  right: 0;
  bottom: 0;
  background: url("../images/intro.jpg") center top no-repeat;
  background-size: cover;
  height: 120%;
  filter: blur(10px);
 }

 .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 35px;
  padding-bottom: 35px;

  @include sm-block() {
   flex-wrap: wrap;
   justify-content: center;
  }
 }

 &__buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  @include sm-block() {
   margin-top: 20px;
   width: 100%;
   justify-content: center;
  }

  &>* {
   white-space: nowrap;

   @include md-block() {
    padding-left: 15px;
    padding-right: 15px;
   }

   margin-left: 15px;

   &:first-child {
    margin-left: 0;
   }
  }
 }
}

.news-list {
 padding-bottom: 30px;

 .title {
  margin-bottom: 40px;

  @include sm-block() {
   text-align: center;
   margin-bottom: 15px;
  }
 }
}

.news-item {
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding-top: 30px;
 padding-bottom: 30px;
 border-bottom: 1px solid #ddd;

 @include sm-block() {
  flex-wrap: wrap;
  text-align: center;
 }

 &:last-of-type {
  border: none;
 }

 $parent: &;

 &__title {
  font-weight: 600;
  font-size: 23px;
  margin-bottom: 5px;
 }

 &__date {
  color: #8e8e8e;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 25px;
 }

 .typography {
  font-size: 16px;
  text-align: justify;
 }

 &__image {
  flex-shrink: 0;
  margin-left: 50px;

  @include sm-block() {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   order: -1;
   margin-left: 0;
   margin-bottom: 15px;
  }

  svg {
   width: 280px;
  }
 }

 &:hover {
  #{$parent}__title {
   color: $neutral-primary;
   text-decoration: underline;
  }
 }
}

.pagination {
 display: flex;
 align-items: center;
 justify-content: space-between;
 margin-top: 15px;
 margin-bottom: 15px;

 @include sm-block() {
  flex-wrap: wrap;
  justify-content: center;
 }

 &__line {
  width: 100%;
  height: 1px;
  background: #ddd;
  display: block;
  flex-grow: 1;
  margin: 0 15px;

  @include sm-block() {
   display: none;
  }
 }

 ul {
  display: flex;
  flex-shrink: 0;
  align-items: center;

  @include sm-block() {
   margin-bottom: 15px;
  }

  li {
   margin-right: 10px;

   &:last-child {
    margin-right: 0;
   }
  }

  a {
   font-size: 15px;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 48px;
   height: 54px;
   background: svg-load("../icons/poly.svg", fill=#e9e9e9);
   background-size: contain;
   background-repeat: no-repeat;
  }

  .is-active {
   a {
    background: svg-load("../icons/poly.svg", fill=$neutral-primary);
    background-size: contain;
    background-repeat: no-repeat;
    color: #fff;
    font-weight: 600;
   }
  }
 }

 &__links {
  display: flex;
  flex-shrink: 0;
  align-items: center;

  span {
   margin: 0 10px;
  }

  a {
   font-size: 14px;
   color: #838383;
   text-decoration: underline;

   &:hover {
    text-decoration: none;
    color: $neutral-primary;
   }
  }
 }
}

.page {
 position: relative;

 .header {
  .container {
   position: relative;

   &:after {
    content: "";
    width: 999px;
    height: 3px;
    background: $neutral-primary;
    position: absolute;
    top: 0;
    left: 100%;
    transform: rotate(-23deg) translateX(-320px);
    z-index: 2;

    @include lg-block() {
     display: none;
    }
   }
  }
 }

 &__content {
  position: relative;
  padding-top: 60px;

  @include sm-block() {
   padding-top: 30px;
  }

  &::before {
   content: "";
   display: block;
   position: absolute;
   background: #f6f6f6;
   height: 130px;
   left: 0;
   right: 0;
   top: 0;
   width: 100%;
   z-index: -1;
  }

  &:after {
   content: "";
   display: block;
   position: absolute;
   left: 0;
   right: 0;
   top: 130px;
   width: 100%;
   height: 419px;
   background: url("../images/footer-before.png") top no-repeat;
   background-size: cover;
   transform: rotate(180deg);
   z-index: -1;
  }
 }
}

.news-intro {
 margin-bottom: 60px;

 &__top {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 60px;
  width: calc(100% - 150px);

  @include md-block() {
   width: calc(100% - 100px);
   margin-bottom: 30px;
  }

  @include sm-block() {
   flex-wrap: wrap;
   width: 100%;
  }
 }

 &__date {
  font-size: 22px;
  font-weight: 300;
  margin-left: 30px;

  @include sm-block() {
   margin-left: 0;
   width: 100%;
   margin-top: 5px;
  }
 }

 &__media {
  position: relative;

  img {
   width: calc(100% - 150px);
   display: block;

   @include md-block() {
    width: calc(100% - 100px);
   }

   @include sm-block() {
    width: 100%;
   }
  }
 }

 &__intro-text {
  background: #fff;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 30px 50px;
  font-size: 24px;
  max-width: 470px;
  line-height: 1.3;

  @include lg-block() {
   font-size: 20px;
  }

  @include md-block() {
   position: relative;
   max-width: 100%;
   background: transparent;
   padding-left: 0;
   padding-bottom: 0;
   padding-right: 0;
  }
 }

 &__eye {
  position: absolute;
  top: 30px;
  right: 0;
  font-weight: 500;
  font-size: 16px;

  @include sm-block() {
   position: relative;
   top: 0;
   margin-top: 15px;
  }

  svg {
   width: 28px;
   fill: $neutral-primary;
   height: 24px;
   margin-right: 15px;
  }
 }

 &__title {
  font-weight: 700;
  line-height: 1;
  font-size: 58px;

  @include lg-block() {
   font-size: 48px;
  }

  @include md-block() {
   font-size: 40px;
  }

  @include sm-block() {
   font-size: 34px;

   br {
    display: none;
   }
  }
 }

 &__col {
  max-width: 50%;

  @include sm-block() {
   max-width: 100%;
  }
 }

 &__subtitle {
  color: $neutral-primary;
  font-weight: 700;
  margin-bottom: 10px;
  line-height: 1;
  font-size: 25px;

  @include md-block() {
   font-size: 18px;
  }
 }
}

.vacancy-details {
 .news-intro__top {
  width: 100%;
 }
}

.intro-button {
 display: flex;
 align-items: center;
 color: #fff;
 transition: opacity 0.2s ease-in-out;
 font-size: 24px;
 font-weight: 600;

 span:first-child {
  border-bottom: solid 1px;
 }

 &__icon {
  margin-left: 15px;
  margin-top: -10px;
  flex-shrink: 0;
  width: 37px;
  border: none;  @include sm-block() {
width: 24px;margin-top: -4px;margin-left: 12px;
    }
 }

 &:hover {
  text-decoration: none;
  color: #fff;
  opacity: .75;
 }
}
.news-intro-item {
 display: flex;
 align-items: center;
 color: #fff;
 transition: color .2s ease-in-out;

 &:hover {
  color: rgba(#fff,.8);
 }

 &__image {
  margin-right: 30px;
   width: clamp(130px, 10vw, 135px);
   flex-shrink: 0;
 @include lg-block() {
   margin-right: 15px;
   }
   @include sm-block() {
width: 100px;
   }
  }
  &__date{
   display: block;
   color: #f93330;
   font-size: 13px;
   font-weight: 700;
   margin-bottom: 8px;
  }
  &__title{
   font-weight: 700;
   display: block;
   line-height: 1.5;
   font-size:clamp(16px,1.2vw,20px);
   svg{
    width: 13px;
    height: 13px;
    fill:#f93330;
    transform: scale(-1,1);
    margin: 0 3px;
   }
    @include sm-block() {
   font-size: 14px;
   }
  }
}

.intro {
 $parent: &;
 position: relative;
 margin-bottom: 0;
 margin-top: 0;
 min-height: clamp(760px, 70dvh, 1080px);
 background: rgba(16, 0, 4, 1);

 @include lg-block() {
  padding-top: 80px;
  height: auto;
  min-height: auto
 }

 &__play{
  width: 72px;
  height: 72px;
  background: url('../images/poly.svg') center no-repeat;
  background-size: contain;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
   @include lg-block() {
    bottom: 30px;
   width: 50px;
   height: 50px;
   }
   
  svg{
   width: 20px;
   height: 20px;
   fill:#eb2d2a;

   &:last-child{
    display: none;
    margin: -2px -3px 0 0 ; 
   }
   @include lg-block() {
   width: 14px;
   height: 14px;
   }
  } 

  &.is-active{
   svg{
    &:first-child{
     display: none;
    }
    &:last-child{
     display: block;
    }
   }
  }
  transition: transform .2s ease-in-out;

 &:hover {
   //transform: translateX(-50%) scale(.95);
 }
 }

 &__news {
 width: clamp(360px, 40vw, 475px);
 margin-left: auto;

 .swiper-wrapper{
  @include from($break_lg){
   flex-wrap: wrap;
   transition: none; 
   transform: none !important;
   .swiper-slide {
    display: none;
    &:nth-child(-n+3){
        display: block
    }
   &:not(:last-child) {
    margin-bottom: 30px;
   }
 }

  }
 }
   @include lg-block() {
   margin-left: 0;
   width: 100%;
  }
  &-title {
   color: #fff;
   text-decoration: none;
   font-size: clamp(28px,2.2vw,42px);
   font-weight: 700;
   border-bottom: solid 2px;
   margin-bottom: 30px;
   display: inline-block;
   vertical-align: top; &:hover {
  color: #fff;
 }
  }
 }
 &__content{
  display: flex;
  flex-direction: column;
 }

 .container {
  max-width: 1590px;
  padding-top: clamp(160px, 17dvh, 280px);
  padding-bottom: rem(90);
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 3;

  @include lg-block() {
   padding-top: 70px;
   padding-bottom: 110px;
  }

  @include sm-block() {
   padding-top:40px;
  }
 }

 

 &__title {
  font-size: clamp(56px,5vw,92px);
  color: #fff;
  max-width: clamp(750px, 60vw, 900px);
  line-height: 1;
  font-weight: 700;
  margin-bottom: rem(90);

  &:last-child {
   margin-bottom: 0;
  }

  @include to(1320px) {
   margin-bottom: 60px;
  }

  @include md-block() {
   font-size: 50px;
   margin-bottom: 40px;
   max-width: 500px;
  }

  @include sm-block() {
   font-size: 36px;
  }
 }

 .intro-button {
  @include lg-block() {
   font-size: 20px;
   width: 50%;
   margin-bottom: 25px;

   &:last-child {
    margin-bottom: 0;
   }
  }

  @include sm-block() {
   width: 100%;
  }
 }

 &__img {
  width: 100%;

  @include lg-block() {
   display: none;
  }
 }

 &__video {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
 }

 &:after {
  content: '';
  background: rgba(16, 0, 4, 0.5);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
 }

 &__buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
  margin-bottom: 70px;

  @include lg-block() {
   flex-wrap: wrap;margin-bottom: 0;
  }
 }

 &__row {
  display: flex;
  gap: 60px 40px;
    @include lg-block() {
   flex-wrap: wrap;
  }
 }

 // Animations
 // &[data-emergence="hidden"] {
 //  #{$parent}__title {
 //   opacity: 0;
 //  }

 //  #{$parent}__buttons {
 //   opacity: 0;
 //   transform: translateY(15px);
 //  }
 // }

 // &[data-emergence="visible"] {

 //  #{$parent}__title,
 //  #{$parent}__buttons {
 //   opacity: 1;
 //   transition: opacity $animSpeed $anim, transform $animSpeed $anim;
 //  }

 //  #{$parent}__buttons {
 //   transition-delay: 0.3s;
 //  }
 // }
}

.page-index {
 .header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 4;
  color: #fff;

  .contact-item {

   &__icon {
    svg {
     fill: #fff;
     opacity: .5;
    }
   }
  }

  .hamburger {
   .line {
    background: #fff;
   }
  }

  &__logo {
   .logo-white {
    display: block;
   }

   .logo-dark {
    display: none;
   }
  }

  a {
   color: #fff;
  }
 }

}