@font-face {
  font-family: "Segoe UI";
  src: url("../fonts/SegoeUI/SegoeUI-Light.woff") format("woff");
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Segoe UI";
  src: url("../fonts/SegoeUI/SegoeUI-BoldItalic.woff") format("woff");
  font-display: swap;
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Segoe UI";
  src: url("../fonts/SegoeUI/SegoeUI-SemiBold.woff") format("woff");
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Segoe UI";
  src: url("../fonts/SegoeUI/SegoeUI.woff") format("woff");
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Segoe UI";
  src: url("../fonts/SegoeUI/SegoeUI-Bold.woff") format("woff");
  font-display: swap;
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Segoe UI";
  src: url("../fonts/SegoeUI/SegoeUI-Italic.woff") format("woff");
  font-display: swap;
  font-weight: normal;
  font-style: italic;
}
