#topup.modal
    +b.modal-inner
        +e.close.js-close-modal
            svg.svg-icon
                use(href='assets/icons/sprite.svg#icon-cross')
        +b.modal-header(class="--border-bottom")
            +b.H3.modal-title
                span Topup balance
        +b.FORM.balance-form
            +e.balance
                p Available balance: <span class="color-warning">USD 10,000</span>
            .modal-content
                +e.field
                    label Amount:
                    +b.LABEL.select
                        select
                            option USD
                    input(type="text" value="10,000.00")
                +e.field
                    label System:
                    +b.LABEL.select
                        select
                            option Payeer
                +e.field
                    label Wallet:
                    +b.LABEL.select(class="--after-none")
                        select#js-select-dropdown2
                            option(value="") --Wallet ID--
                            option(data-display-below-text="Wallet name" value="3425ronji3iu54i1") 3425ronji3iu54i1
                            option(data-display-below-text="Wallet name" value="3425ronji3iu54i2") 3425ronji3iu54i2
                            option(data-display-below-text="Wallet name" value="3425ronji3iu54i3") 3425ronji3iu54i3
            +b.modal-footer(class="--center")
                +b.BUTTON.btn(class="--warning --size-lg")
                    span Top up