extends ../layout/main

block variables
    - var title = 'Гранат - Кубанское яблоко – вкус, знакомый с детства';
    - var description = '';
    - var pageName = 'index';


block content
    // WEBSITE
    +b.content

        +b.page-index 
            include ../includes/modules/header
            +b.SECTION.intro(data-emergence="hidden")
                .container
                  +e.play(data-video-play)
                   
                   +icon('pause')
                   +icon('play')
                  +e.row 
                   +e.content
                     +e.H1.title Кубанское яблоко – вкус, знакомый с детства
                     +e.buttons
                        +b.A(href="about.html").intro-button
                            span Подробнее о нас
                            +e.icon
                                img(src="assets/images/icons/apple-details.png", alt="")
                   +e.news 
                    +e.A(href="/").news-title Новости
                    +e.slider.js-swiper-news.swiper-no-swiping
                     .swiper-wrapper
                      each item in [1,2,3]
                       .swiper-slide
                        +b.A(href="#").news-intro-item 
                         +e.image
                          svg( viewBox="0 0 716 801")
                            clippath#my-clip-path(clippathunits="objectBoundingBox")
                                path( d="M0.479,1 c-0.025,-0.006,-0.015,-0.001,-0.2,-0.097 c-0.041,-0.021,-0.089,-0.046,-0.108,-0.056 c-0.019,-0.01,-0.047,-0.024,-0.063,-0.033 c-0.016,-0.008,-0.033,-0.017,-0.037,-0.02 c-0.012,-0.007,-0.03,-0.021,-0.038,-0.029 c-0.016,-0.017,-0.022,-0.027,-0.028,-0.045 l-0.003,-0.011,0,-0.208,0,-0.208,0.003,-0.011 c0.002,-0.006,0.005,-0.015,0.007,-0.019 c0.01,-0.019,0.035,-0.042,0.06,-0.057 c0.005,-0.003,0.048,-0.025,0.095,-0.05 c0.289,-0.149,0.281,-0.145,0.304,-0.152 c0.01,-0.003,0.014,-0.004,0.029,-0.004 c0.017,0,0.018,0,0.033,0.005 c0.022,0.007,0.013,0.002,0.174,0.086 c0.042,0.022,0.09,0.046,0.107,0.055 c0.017,0.009,0.042,0.022,0.055,0.028 c0.013,0.007,0.029,0.015,0.037,0.019 c0.022,0.011,0.035,0.02,0.048,0.03 c0.027,0.021,0.04,0.04,0.045,0.065 c0.001,0.004,0.001,0.079,0.001,0.214 c0,0.204,0,0.207,-0.003,0.218 c-0.006,0.021,-0.02,0.04,-0.044,0.059 c-0.019,0.015,-0.009,0.009,-0.198,0.107 c-0.018,0.009,-0.056,0.029,-0.085,0.044 c-0.029,0.015,-0.064,0.033,-0.076,0.039 c-0.049,0.025,-0.066,0.031,-0.091,0.032 c-0.013,0,-0.018,0,-0.026,-0.002")
                            image(clip-path="url('#my-clip-path')" width="716px" height="801px" xlink:href="assets/images/products/1.png")
                         
                         +e.content 
                          +e.date 12.05.2024
                          +e.title После окончания цветения укрываем сад противоградовой сеткой 
                           +icon('left-arrow')
                +e.VIDEO(src="assets/images/video.mp4" class="video" playsinline muted autoplay loop data-video)

            +b.ARTICLE.gray
                +b.SECTION.advantages(data-emergence="hidden")
                    .container
                        +e.slider.js-swiper-advantages.swiper-no-swiping
                            .swiper-wrapper
                                .swiper-slide
                                    +b.advantage-item
                                        +e.content
                                            +e.icon
                                                +icon('apple')
                                            +e.P.title Современный интенсивный сад
                                            +e.desc
                                                p В нашем саду растут яблони следующих сортов: «Пирос», «Женева», «Гала», Делишес», «Голден делишес», Ренет симиренко
                                .swiper-slide
                                    +b.advantage-item
                                        +e.content
                                            +e.icon
                                                +icon('agriculture')
                                            +e.P.title Передовые технологии
                                            +e.desc
                                                p В нашем саду растут яблони следующих сортов: «Пирос», «Женева», «Гала», Делишес», «Голден делишес», Ренет симиренко
                                .swiper-slide
                                    +b.advantage-item
                                        +e.content
                                            +e.icon
                                                +icon('love')
                                            +e.P.title Бережный<br> сбор
                                            +e.desc
                                                p В нашем саду растут яблони следующих сортов: «Пирос», «Женева», «Гала», Делишес», «Голден делишес», Ренет симиренко

                                .swiper-slide
                                    +b.advantage-item
                                        +e.content
                                            +e.icon
                                                +icon('calendar')
                                            +e.P.title Длительное хранение
                                            +e.desc
                                                p В нашем саду растут яблони следующих сортов: «Пирос», «Женева», «Гала», Делишес», «Голден делишес», Ренет симиренко



                +b.quote-right
                    div
                        img(src="assets/images/quotes/quote-right.png", alt="")
            +b.SECTION.about(data-emergence="hidden")
                .container

                    +e.row
                        +e.col
                            +b.P.subtitle.color-primary Узнайте
                            +b.H3.title О компании «Гранат»
                            .typography
                                p 
                                    strong Гранат – это интенсивные сады, расположенные в предгорной зоне Краснодарского края. 
                                p В своей работе мы обобщаем опыт иностранных производителей и адаптируем их под условия нашего региона. Благодаря этому мы предлагаем своим покупателям высококачественные яблоки.
                            +e.buttons
                                +b.A(href="#" class="btn --line-primary") Подробнее


            +b.SECTION.apple-slider(data-emergence="hidden")
                .container
                    .swiper-container.js-swiper-apple
                        .swiper-wrapper
                            .swiper-slide
                                img(src="assets/images/apple-slider/1.png", alt="")
                                +b.apple-slider__desc
                                    p Яблочки из собственного сада
                            .swiper-slide
                                svg( viewBox="0 0 716 801")
                                    clippath#my-clip-path(clippathunits="objectBoundingBox")
                                        path( d="M0.479,1 c-0.025,-0.006,-0.015,-0.001,-0.2,-0.097 c-0.041,-0.021,-0.089,-0.046,-0.108,-0.056 c-0.019,-0.01,-0.047,-0.024,-0.063,-0.033 c-0.016,-0.008,-0.033,-0.017,-0.037,-0.02 c-0.012,-0.007,-0.03,-0.021,-0.038,-0.029 c-0.016,-0.017,-0.022,-0.027,-0.028,-0.045 l-0.003,-0.011,0,-0.208,0,-0.208,0.003,-0.011 c0.002,-0.006,0.005,-0.015,0.007,-0.019 c0.01,-0.019,0.035,-0.042,0.06,-0.057 c0.005,-0.003,0.048,-0.025,0.095,-0.05 c0.289,-0.149,0.281,-0.145,0.304,-0.152 c0.01,-0.003,0.014,-0.004,0.029,-0.004 c0.017,0,0.018,0,0.033,0.005 c0.022,0.007,0.013,0.002,0.174,0.086 c0.042,0.022,0.09,0.046,0.107,0.055 c0.017,0.009,0.042,0.022,0.055,0.028 c0.013,0.007,0.029,0.015,0.037,0.019 c0.022,0.011,0.035,0.02,0.048,0.03 c0.027,0.021,0.04,0.04,0.045,0.065 c0.001,0.004,0.001,0.079,0.001,0.214 c0,0.204,0,0.207,-0.003,0.218 c-0.006,0.021,-0.02,0.04,-0.044,0.059 c-0.019,0.015,-0.009,0.009,-0.198,0.107 c-0.018,0.009,-0.056,0.029,-0.085,0.044 c-0.029,0.015,-0.064,0.033,-0.076,0.039 c-0.049,0.025,-0.066,0.031,-0.091,0.032 c-0.013,0,-0.018,0,-0.026,-0.002")
                                    image(clip-path="url('#my-clip-path')" width="716px" height="801px" xlink:href="https://picsum.photos/716/801")

                                +b.apple-slider__desc
                                    p Яблочки из собственного сада
                    .swiper-prev
                        +icon('001-right')
                    .swiper-next
                        +icon('001-right')
                    .slider-dots
            +b.SECTION.products(data-emergence="hidden")
                .container
                    +e.row
                        +e.col
                            +b.product-item
                                +e.content
                                    +e.image
                                        svg( viewBox="0 0 716 801")
                                            clippath#my-clip-path(clippathunits="objectBoundingBox")
                                                path( d="M0.479,1 c-0.025,-0.006,-0.015,-0.001,-0.2,-0.097 c-0.041,-0.021,-0.089,-0.046,-0.108,-0.056 c-0.019,-0.01,-0.047,-0.024,-0.063,-0.033 c-0.016,-0.008,-0.033,-0.017,-0.037,-0.02 c-0.012,-0.007,-0.03,-0.021,-0.038,-0.029 c-0.016,-0.017,-0.022,-0.027,-0.028,-0.045 l-0.003,-0.011,0,-0.208,0,-0.208,0.003,-0.011 c0.002,-0.006,0.005,-0.015,0.007,-0.019 c0.01,-0.019,0.035,-0.042,0.06,-0.057 c0.005,-0.003,0.048,-0.025,0.095,-0.05 c0.289,-0.149,0.281,-0.145,0.304,-0.152 c0.01,-0.003,0.014,-0.004,0.029,-0.004 c0.017,0,0.018,0,0.033,0.005 c0.022,0.007,0.013,0.002,0.174,0.086 c0.042,0.022,0.09,0.046,0.107,0.055 c0.017,0.009,0.042,0.022,0.055,0.028 c0.013,0.007,0.029,0.015,0.037,0.019 c0.022,0.011,0.035,0.02,0.048,0.03 c0.027,0.021,0.04,0.04,0.045,0.065 c0.001,0.004,0.001,0.079,0.001,0.214 c0,0.204,0,0.207,-0.003,0.218 c-0.006,0.021,-0.02,0.04,-0.044,0.059 c-0.019,0.015,-0.009,0.009,-0.198,0.107 c-0.018,0.009,-0.056,0.029,-0.085,0.044 c-0.029,0.015,-0.064,0.033,-0.076,0.039 c-0.049,0.025,-0.066,0.031,-0.091,0.032 c-0.013,0,-0.018,0,-0.026,-0.002")
                                            image(clip-path="url('#my-clip-path')" width="716px" height="801px" xlink:href="assets/images/products/1.png")
                                    +e.P.title Айдаред
                                    +e.desc
                                        p Гре́нни Смит — сорт яблони, созданный в 1868 году в Австралии. Название сорта переводится как «бабуля Смит»; было дано в честь Анны Марии Смит. Данный сорт имеет три русскоязычных синонима: «Грани Смит», «Гренни Смит» и «Гранни Смит».
                        +e.col
                            +b.product-item
                                +e.content
                                    +e.image
                                        svg( viewBox="0 0 716 801")
                                            clippath#my-clip-path(clippathunits="objectBoundingBox")
                                                path( d="M0.479,1 c-0.025,-0.006,-0.015,-0.001,-0.2,-0.097 c-0.041,-0.021,-0.089,-0.046,-0.108,-0.056 c-0.019,-0.01,-0.047,-0.024,-0.063,-0.033 c-0.016,-0.008,-0.033,-0.017,-0.037,-0.02 c-0.012,-0.007,-0.03,-0.021,-0.038,-0.029 c-0.016,-0.017,-0.022,-0.027,-0.028,-0.045 l-0.003,-0.011,0,-0.208,0,-0.208,0.003,-0.011 c0.002,-0.006,0.005,-0.015,0.007,-0.019 c0.01,-0.019,0.035,-0.042,0.06,-0.057 c0.005,-0.003,0.048,-0.025,0.095,-0.05 c0.289,-0.149,0.281,-0.145,0.304,-0.152 c0.01,-0.003,0.014,-0.004,0.029,-0.004 c0.017,0,0.018,0,0.033,0.005 c0.022,0.007,0.013,0.002,0.174,0.086 c0.042,0.022,0.09,0.046,0.107,0.055 c0.017,0.009,0.042,0.022,0.055,0.028 c0.013,0.007,0.029,0.015,0.037,0.019 c0.022,0.011,0.035,0.02,0.048,0.03 c0.027,0.021,0.04,0.04,0.045,0.065 c0.001,0.004,0.001,0.079,0.001,0.214 c0,0.204,0,0.207,-0.003,0.218 c-0.006,0.021,-0.02,0.04,-0.044,0.059 c-0.019,0.015,-0.009,0.009,-0.198,0.107 c-0.018,0.009,-0.056,0.029,-0.085,0.044 c-0.029,0.015,-0.064,0.033,-0.076,0.039 c-0.049,0.025,-0.066,0.031,-0.091,0.032 c-0.013,0,-0.018,0,-0.026,-0.002")
                                            image(clip-path="url('#my-clip-path')" width="716px" height="801px" xlink:href="assets/images/products/2.png")
                                    +e.P.title Гала
                                    +e.desc
                                        p Гре́нни Смит — сорт яблони, созданный в 1868 году в Австралии. Название сорта переводится как «бабуля Смит»; было дано в честь Анны Марии Смит. Данный сорт имеет три русскоязычных синонима: «Грани Смит», «Гренни Смит» и «Гранни Смит».
                        +e.col
                            +b.product-item
                                +e.content
                                    +e.image
                                        svg( viewBox="0 0 716 801")
                                            clippath#my-clip-path(clippathunits="objectBoundingBox")
                                                path( d="M0.479,1 c-0.025,-0.006,-0.015,-0.001,-0.2,-0.097 c-0.041,-0.021,-0.089,-0.046,-0.108,-0.056 c-0.019,-0.01,-0.047,-0.024,-0.063,-0.033 c-0.016,-0.008,-0.033,-0.017,-0.037,-0.02 c-0.012,-0.007,-0.03,-0.021,-0.038,-0.029 c-0.016,-0.017,-0.022,-0.027,-0.028,-0.045 l-0.003,-0.011,0,-0.208,0,-0.208,0.003,-0.011 c0.002,-0.006,0.005,-0.015,0.007,-0.019 c0.01,-0.019,0.035,-0.042,0.06,-0.057 c0.005,-0.003,0.048,-0.025,0.095,-0.05 c0.289,-0.149,0.281,-0.145,0.304,-0.152 c0.01,-0.003,0.014,-0.004,0.029,-0.004 c0.017,0,0.018,0,0.033,0.005 c0.022,0.007,0.013,0.002,0.174,0.086 c0.042,0.022,0.09,0.046,0.107,0.055 c0.017,0.009,0.042,0.022,0.055,0.028 c0.013,0.007,0.029,0.015,0.037,0.019 c0.022,0.011,0.035,0.02,0.048,0.03 c0.027,0.021,0.04,0.04,0.045,0.065 c0.001,0.004,0.001,0.079,0.001,0.214 c0,0.204,0,0.207,-0.003,0.218 c-0.006,0.021,-0.02,0.04,-0.044,0.059 c-0.019,0.015,-0.009,0.009,-0.198,0.107 c-0.018,0.009,-0.056,0.029,-0.085,0.044 c-0.029,0.015,-0.064,0.033,-0.076,0.039 c-0.049,0.025,-0.066,0.031,-0.091,0.032 c-0.013,0,-0.018,0,-0.026,-0.002")
                                            image(clip-path="url('#my-clip-path')" width="716px" height="801px" xlink:href="assets/images/products/3.png")
                                    +e.P.title Ред делишес
                                    +e.desc
                                        p Гре́нни Смит — сорт яблони, созданный в 1868 году в Австралии. Название сорта переводится как «бабуля Смит»; было дано в честь Анны Марии Смит. Данный сорт имеет три русскоязычных синонима: «Грани Смит», «Гренни Смит» и «Гранни Смит».
                        +e.col
                            +b.product-item
                                +e.content
                                    +e.image
                                        svg( viewBox="0 0 716 801")
                                            clippath#my-clip-path(clippathunits="objectBoundingBox")
                                                path( d="M0.479,1 c-0.025,-0.006,-0.015,-0.001,-0.2,-0.097 c-0.041,-0.021,-0.089,-0.046,-0.108,-0.056 c-0.019,-0.01,-0.047,-0.024,-0.063,-0.033 c-0.016,-0.008,-0.033,-0.017,-0.037,-0.02 c-0.012,-0.007,-0.03,-0.021,-0.038,-0.029 c-0.016,-0.017,-0.022,-0.027,-0.028,-0.045 l-0.003,-0.011,0,-0.208,0,-0.208,0.003,-0.011 c0.002,-0.006,0.005,-0.015,0.007,-0.019 c0.01,-0.019,0.035,-0.042,0.06,-0.057 c0.005,-0.003,0.048,-0.025,0.095,-0.05 c0.289,-0.149,0.281,-0.145,0.304,-0.152 c0.01,-0.003,0.014,-0.004,0.029,-0.004 c0.017,0,0.018,0,0.033,0.005 c0.022,0.007,0.013,0.002,0.174,0.086 c0.042,0.022,0.09,0.046,0.107,0.055 c0.017,0.009,0.042,0.022,0.055,0.028 c0.013,0.007,0.029,0.015,0.037,0.019 c0.022,0.011,0.035,0.02,0.048,0.03 c0.027,0.021,0.04,0.04,0.045,0.065 c0.001,0.004,0.001,0.079,0.001,0.214 c0,0.204,0,0.207,-0.003,0.218 c-0.006,0.021,-0.02,0.04,-0.044,0.059 c-0.019,0.015,-0.009,0.009,-0.198,0.107 c-0.018,0.009,-0.056,0.029,-0.085,0.044 c-0.029,0.015,-0.064,0.033,-0.076,0.039 c-0.049,0.025,-0.066,0.031,-0.091,0.032 c-0.013,0,-0.018,0,-0.026,-0.002")
                                            image(clip-path="url('#my-clip-path')" width="716px" height="801px" xlink:href="assets/images/products/4.png")
                                    +e.P.title Ред джонаприн
                                    +e.desc
                                        p Гре́нни Смит — сорт яблони, созданный в 1868 году в Австралии. Название сорта переводится как «бабуля Смит»; было дано в честь Анны Марии Смит. Данный сорт имеет три русскоязычных синонима: «Грани Смит», «Гренни Смит» и «Гранни Смит».
                        +e.col
                            +b.product-item
                                +e.content
                                    +e.image
                                        svg( viewBox="0 0 716 801")
                                            clippath#my-clip-path(clippathunits="objectBoundingBox")
                                                path( d="M0.479,1 c-0.025,-0.006,-0.015,-0.001,-0.2,-0.097 c-0.041,-0.021,-0.089,-0.046,-0.108,-0.056 c-0.019,-0.01,-0.047,-0.024,-0.063,-0.033 c-0.016,-0.008,-0.033,-0.017,-0.037,-0.02 c-0.012,-0.007,-0.03,-0.021,-0.038,-0.029 c-0.016,-0.017,-0.022,-0.027,-0.028,-0.045 l-0.003,-0.011,0,-0.208,0,-0.208,0.003,-0.011 c0.002,-0.006,0.005,-0.015,0.007,-0.019 c0.01,-0.019,0.035,-0.042,0.06,-0.057 c0.005,-0.003,0.048,-0.025,0.095,-0.05 c0.289,-0.149,0.281,-0.145,0.304,-0.152 c0.01,-0.003,0.014,-0.004,0.029,-0.004 c0.017,0,0.018,0,0.033,0.005 c0.022,0.007,0.013,0.002,0.174,0.086 c0.042,0.022,0.09,0.046,0.107,0.055 c0.017,0.009,0.042,0.022,0.055,0.028 c0.013,0.007,0.029,0.015,0.037,0.019 c0.022,0.011,0.035,0.02,0.048,0.03 c0.027,0.021,0.04,0.04,0.045,0.065 c0.001,0.004,0.001,0.079,0.001,0.214 c0,0.204,0,0.207,-0.003,0.218 c-0.006,0.021,-0.02,0.04,-0.044,0.059 c-0.019,0.015,-0.009,0.009,-0.198,0.107 c-0.018,0.009,-0.056,0.029,-0.085,0.044 c-0.029,0.015,-0.064,0.033,-0.076,0.039 c-0.049,0.025,-0.066,0.031,-0.091,0.032 c-0.013,0,-0.018,0,-0.026,-0.002")
                                            image(clip-path="url('#my-clip-path')" width="716px" height="801px" xlink:href="assets/images/products/5.png")
                                    +e.P.title Голден делишес
                                    +e.desc
                                        p Гре́нни Смит — сорт яблони, созданный в 1868 году в Австралии. Название сорта переводится как «бабуля Смит»; было дано в честь Анны Марии Смит. Данный сорт имеет три русскоязычных синонима: «Грани Смит», «Гренни Смит» и «Гранни Смит».
                        +e.col
                            +b.product-item
                                +e.content
                                    +e.image
                                        svg( viewBox="0 0 716 801")
                                            clippath#my-clip-path(clippathunits="objectBoundingBox")
                                                path( d="M0.479,1 c-0.025,-0.006,-0.015,-0.001,-0.2,-0.097 c-0.041,-0.021,-0.089,-0.046,-0.108,-0.056 c-0.019,-0.01,-0.047,-0.024,-0.063,-0.033 c-0.016,-0.008,-0.033,-0.017,-0.037,-0.02 c-0.012,-0.007,-0.03,-0.021,-0.038,-0.029 c-0.016,-0.017,-0.022,-0.027,-0.028,-0.045 l-0.003,-0.011,0,-0.208,0,-0.208,0.003,-0.011 c0.002,-0.006,0.005,-0.015,0.007,-0.019 c0.01,-0.019,0.035,-0.042,0.06,-0.057 c0.005,-0.003,0.048,-0.025,0.095,-0.05 c0.289,-0.149,0.281,-0.145,0.304,-0.152 c0.01,-0.003,0.014,-0.004,0.029,-0.004 c0.017,0,0.018,0,0.033,0.005 c0.022,0.007,0.013,0.002,0.174,0.086 c0.042,0.022,0.09,0.046,0.107,0.055 c0.017,0.009,0.042,0.022,0.055,0.028 c0.013,0.007,0.029,0.015,0.037,0.019 c0.022,0.011,0.035,0.02,0.048,0.03 c0.027,0.021,0.04,0.04,0.045,0.065 c0.001,0.004,0.001,0.079,0.001,0.214 c0,0.204,0,0.207,-0.003,0.218 c-0.006,0.021,-0.02,0.04,-0.044,0.059 c-0.019,0.015,-0.009,0.009,-0.198,0.107 c-0.018,0.009,-0.056,0.029,-0.085,0.044 c-0.029,0.015,-0.064,0.033,-0.076,0.039 c-0.049,0.025,-0.066,0.031,-0.091,0.032 c-0.013,0,-0.018,0,-0.026,-0.002")
                                            image(clip-path="url('#my-clip-path')" width="716px" height="801px" xlink:href="assets/images/products/6.png")
                                    +e.P.title Гренни смит
                                    +e.desc
                                        p Гре́нни Смит — сорт яблони, созданный в 1868 году в Австралии. Название сорта переводится как «бабуля Смит»; было дано в честь Анны Марии Смит. Данный сорт имеет три русскоязычных синонима: «Грани Смит», «Гренни Смит» и «Гранни Смит».
                        +e.col
                            +b.product-item
                                +e.content
                                    +e.image
                                        svg( viewBox="0 0 716 801")
                                            clippath#my-clip-path(clippathunits="objectBoundingBox")
                                                path( d="M0.479,1 c-0.025,-0.006,-0.015,-0.001,-0.2,-0.097 c-0.041,-0.021,-0.089,-0.046,-0.108,-0.056 c-0.019,-0.01,-0.047,-0.024,-0.063,-0.033 c-0.016,-0.008,-0.033,-0.017,-0.037,-0.02 c-0.012,-0.007,-0.03,-0.021,-0.038,-0.029 c-0.016,-0.017,-0.022,-0.027,-0.028,-0.045 l-0.003,-0.011,0,-0.208,0,-0.208,0.003,-0.011 c0.002,-0.006,0.005,-0.015,0.007,-0.019 c0.01,-0.019,0.035,-0.042,0.06,-0.057 c0.005,-0.003,0.048,-0.025,0.095,-0.05 c0.289,-0.149,0.281,-0.145,0.304,-0.152 c0.01,-0.003,0.014,-0.004,0.029,-0.004 c0.017,0,0.018,0,0.033,0.005 c0.022,0.007,0.013,0.002,0.174,0.086 c0.042,0.022,0.09,0.046,0.107,0.055 c0.017,0.009,0.042,0.022,0.055,0.028 c0.013,0.007,0.029,0.015,0.037,0.019 c0.022,0.011,0.035,0.02,0.048,0.03 c0.027,0.021,0.04,0.04,0.045,0.065 c0.001,0.004,0.001,0.079,0.001,0.214 c0,0.204,0,0.207,-0.003,0.218 c-0.006,0.021,-0.02,0.04,-0.044,0.059 c-0.019,0.015,-0.009,0.009,-0.198,0.107 c-0.018,0.009,-0.056,0.029,-0.085,0.044 c-0.029,0.015,-0.064,0.033,-0.076,0.039 c-0.049,0.025,-0.066,0.031,-0.091,0.032 c-0.013,0,-0.018,0,-0.026,-0.002")
                                            image(clip-path="url('#my-clip-path')" width="716px" height="801px" xlink:href="assets/images/products/7.png")
                                    +e.P.title Фуджи
                                    +e.desc
                                        p Гре́нни Смит — сорт яблони, созданный в 1868 году в Австралии. Название сорта переводится как «бабуля Смит»; было дано в честь Анны Марии Смит. Данный сорт имеет три русскоязычных синонима: «Грани Смит», «Гренни Смит» и «Гранни Смит».

            +b.quote-left
                div
                    img(src="assets/images/quotes/quote-left.png", alt="")

            +b.SECTION.cooperation(data-emergence="hidden")
                .container
                    +e.row
                        +e.col
                            +b.P.subtitle.color-primary Выгодно!
                            +b.H3.title Сотрудничество с нами
                            .typography
                                p В своей работе мы обобщаем опыт иностранных производителей и адаптируем их под условия нашего региона. Благодаря этому мы предлагаем своим покупателям высококачественные яблоки.
                    +b.steps(data-emergence="hidden")
                        +e.col
                            +b.A(class="btn --primary js-modal" data-modal="request") Отправить заявку
                        +e.col
                            +b.step-item
                                +e.icon
                                    +icon('mail')
                                +e.P.title
                                    span Шаг
                                    b 1    
                                +e.desc
                                    p Вы оставляете заявку <a class="js-modal" data-modal="request">на сайте</a> или по телефону    
                        +e.col
                            +b.step-item
                                +e.icon
                                    +icon('doc')
                                +e.P.title
                                    span Шаг
                                    b 2   
                                +e.desc
                                    p Формируем все необходимые документы  
                        +e.col
                            +b.step-item
                                +e.icon
                                    +icon('apples')
                                +e.P.title
                                    span Шаг
                                    b 3    
                                +e.desc
                                    p Готовим продукцию к отгрузке в удобное для Вас время.

            include ../includes/modules/_get-price
        include ../includes/modules/footer

block script
    script(src="assets/js/app.js")