extends ../layout/main

block variables
    - var title = 'Гранат - Кубанское яблоко – вкус, знакомый с детства';
    - var description = '';
    - var pageName = 'vacancy';


block content
    // WEBSITE
    +b.content

        +b.page
            include ../includes/modules/header

            include ../includes/modules/_page-intro
            mixin news-item()
                +b.A(href="vacancy-details.html" class="news-item")
                        +e.content
                            +e.P.title Название вакансии
                            +e.P.date 20/02/2020
                            .typography
                                p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
            +e.content
                +b.SECTION.news-list
                    .container
                        +b.H3.title Вакансии
                        +news-item()
                        +news-item()
                        +news-item()
                        +b.pagination
                            ul
                                li.is-active
                                    a(href="#") 1
                                li
                                    a(href="#") 2
                                li
                                    a(href="#") 3
                                li
                                    a(href="#") 4
                                li
                                    a(href="#") 5
                            +e.line
                            +e.links
                                a(href="#") Следующая страница
                                span / 
                                a(href="#") Предыдущая страница


        include ../includes/modules/footer

block script
    script(src="assets/js/app.js")