#map.modal
    +b.modal-inner
        +e.close.js-close-modal
            +icon('cross')
        
        .modal-content
            .map(data-address="352154, Краснодарский край, Кавказский район, х. Привольный, ул. Мира, д. 78")